<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>Khóa học của tôi</h3>
        {{!-- {{#if deletedCount}} --}}
        <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
        {{!-- {{/if}} --}}

        <div class="mt-4 d-flex align-item-center">
            <div class="form-check"></div>
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả 
                </label>
                
            </div>
            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">-- Chọn hành động --</option>
                <option value="delete">Xóa</option>
            </select>

            <button class="btn btn-primary btn-sm disabled">Thực hiện</button>
            
        </div>
    </for>
    
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">ID
                    {{{sortable '_id' _sort}}}
                </th>
                <th scope="col">Tên khóa học
                    {{{sortable 'name' _sort}}}
                    {{!-- <a href="?_sort&column=name&type=desc">
                        <i class="bi bi-sort-down"></i>
                    </a> --}}
                </th>
                <th scope="col">Trình độ
                    {{{sortable 'level' _sort}}}
                </th>
                <th scope="col" col-span="2">Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check"></div>
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>  
                </td>
                {{!-- <th scope="row">{{sum @index 1}}</th> --}}
                <th scope="row">{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="/courses/{{this._id}}/delete" class="btn btn-link" data-id="{{this._id}}"
                        data-toggle="modal" data-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>

            {{!-- khi khong co du lieu --}}
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khóa học nào.
                    <a href="/courses/create">Đăng khóa học</a>
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</form>

{{!-- confirm delete course --}}

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa khóa học này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form --}}
<form name="delete-course-form" method="POST"></form>

<script>

    // khi DOM da duoc load xong thi chay function trong nay 
    document.addEventListener('DOMContentLoaded', function(){
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var containerForm = document.forms['container-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-primary');


        // khi modal hien thi thi lay id cua course
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            courseId = button.data('id') 
        });

        btnDeleteCourse.addEventListener('click', function(){
            // set action cho form 
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
            // submit form
            deleteForm.submit()
        })

        // checkbox all clicked
        checkboxAll.change(function(){
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })

        // course item checkbox clicked
        courseItemCheckbox.change(function(){
            // check if all course item checkbox are checked then check checkbox all 
            var isCheckedAll = courseItemCheckbox.length === courseItemCheckbox.filter(':checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })

        // check all submit button clicked

        checkAllSubmitBtn.on('click', function(e){
            var isSubmittable = !$(this).hasClass('disabled');
            if(!isSubmittable){
                e.preventDefault();
            }
        })

        // Re-render button thuc hien
        function renderCheckAllSubmitBtn(){
            var checkedCount = courseItemCheckbox.filter(':checked').length;
            var isDisabled = checkedCount === 0;
            $('.btn-primary').toggleClass('disabled', isDisabled);
        }
    })

    
</script>